wmenv/
.env
__pycache__/
.gpt_cache/
transcriptions.txt
settings.json
transcription_from_file.txt
node_modules/
build/
whispermindjs/server/config.json
whispermindjs/server/.env
whispermindjs/client/.env
whispermindjs/client/test-results/
whispermindjs/client/playwright-report/
